<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogFile="${basedir}/logs/nlog-internal.log"
      internalLogLevel="Warn">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="logDir" value="${basedir}/../../../logs/gatewayLogs"/>
	<variable name="fileLayout"
			  value="${longdate} | ${level:uppercase=true:padding=-5} | ${sequenceid:padding=6} | ${aspnet-request-ip} | ${aspnet-request-method:whenEmpty=-} ${aspnet-request-url:whenEmpty=-} | ${logger:shortName=true} | ${message} ${exception:format=tostring}"/>
	<variable name="consoleLayout"
			   value="${date:format=HH\:mm\:ss} | ${level:uppercase=true:padding=-5} | ${aspnet-request-ip:whenEmpty=-} | ${aspnet-request-method:whenEmpty=-} ${aspnet-request-url:includeQueryString=false:whenEmpty=-} | ${message} ${exception:format=message}"/>

	<targets async="true">

		<!-- Daily rolling file -->
		<target xsi:type="File"
				name="file"
				fileName="${logDir}/${shortdate}.log"
				layout="${fileLayout}"
				writeBom="false"
				lineEnding="LF"
				keepFileOpen="true"
				archiveEvery="Day"
				maxArchiveFiles="30"
				archiveFileName="${logDir}/archive/{#}.log"
				archiveNumbering="Date"/>

		<!-- Colored console by level -->
		<target xsi:type="ColoredConsole"
				name="console"
				layout="${consoleLayout}"
				useDefaultRowHighlightingRules="false">
			<highlight-row condition="level == LogLevel.Trace"   foregroundColor="DarkGray"/>
			<highlight-row condition="level == LogLevel.Debug"   foregroundColor="Gray"/>
			<highlight-row condition="level == LogLevel.Info"    foregroundColor="Cyan"/>
			<highlight-row condition="level == LogLevel.Warn"    foregroundColor="Yellow"/>
			<highlight-row condition="level == LogLevel.Error"   foregroundColor="Red"/>
			<highlight-row condition="level == LogLevel.Fatal"   foregroundColor="White" backgroundColor="DarkRed"/>
		</target>

	</targets>

	<rules>
		<!-- Suppress noisy Microsoft/Ocelot internals -->
		<logger name="Microsoft.*"            maxlevel="Info"  final="true"/>
		<logger name="System.*"               maxlevel="Info"  final="true"/>
		<logger name="Ocelot.*"               minlevel="Info"  final="true"/>

		<!-- Your app -->
		<logger name="*" minlevel="Info" writeTo="file,console"/>
	</rules>

</nlog>